@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Started */
.hero-bg {
  background-image: url("../assets/images/hero/hero-background.webp");
}
.banner-lg {
  background-image: url("../assets/images/banner/banner-lg.webp");
}
.banner-mobile {
  background-image: url("../assets/images/banner/banner-mobile.webp");
}
.subscribe-lg {
  background-image: url("../assets/images/subscribe/Subscribe.png");
}
.subscribe-mobile {
  background-image: url("../assets/images/subscribe/subscribe-mobile.webp");
}
.sub-header{
  background-image: url("../assets/images/share/sub-header-section.webp");
}
.sub-header-mobile {
  background-image: url("../assets/images/share/sub-header-section-mobile.webp");
}
/* Background End */

.categories:hover svg path {
  fill: white;
}


/* accordion */
.accordion-container .accordion {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 45%;
}
.accordion-container .accordion.active .accordion-heading {
  background: rgba(208, 3, 56, 0.9);
  border-radius: 10px 10px 0px 0px;
}
.accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}
.accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  transform: rotate(180deg);
  transition: transform 0.2s 0.1s;
}
.accordion-container .accordion.active .accordion-content {
  display: block;
}

.accordion-container .accordion .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(213, 29, 76, 0.05);
  border-radius: 10px;
}

.accordion-container .accordion .accordion-heading h3 {
  font-size: 20px;
  color: rgba(208, 3, 56, 0.9);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.accordion-container .accordion .accordion-heading i {
  font-size: 25px;
  color: rgba(208, 3, 56, 0.9);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.accordion-container .accordion .accordion-content {
  padding: 15px 10px;
  border-top: 0;
  display: none;
  animation: animate 0.2s linear backwards;
  transform-origin: top;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 10px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #5c5c5c;
}
@keyframes animate {
  0% {
    transform: scaleY(0);
  }
}
 /* accordio end  */