@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Started */
.hero-bg {
  background-image: url("../assets/images/hero/hero-background.webp");
}
.banner-lg {
  background-image: url("../assets/images/banner/banner-lg.webp");
}
.banner-mobile {
  background-image: url("../assets/images/banner/banner-mobile.webp");
}
.subscribe-lg {
  background-image: url("../assets/images/subscribe/Subscribe.png");
}
.subscribe-mobile {
  background-image: url("../assets/images/subscribe/subscribe-mobile.webp");
}
.sub-header {
  background-image: url("../assets/images/share/sub-header-section.webp");
}
.sub-header-mobile {
  background-image: url("../assets/images/share/sub-header-section-mobile.webp");
}
/* Background End */

.categories:hover svg path {
  fill: white;
}

/* swiper-pagination-bullet started  */

.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-bottom: -40px !important;
  width: 50px;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background: #47a358;
} 

.swiper-pagination-lock {
  display: none !important;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  margin-top: 4px;
}

/* swiper-pagination-bullet end  */

/* Accordion started  */
.acc {
  margin-bottom: 10px;
}

.acc-head {
  padding: 15px 10px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.acc-head::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #071c1f;
  line-height: 18px;
  height: 24px;
}

.acc-head::after {
  content: "+";
}
.acc-head.active:after {
  content: "-";
  font-size: 46px;
  line-height: 10px;
  color: #47a358;
}

.acc-content {
  padding: 10px 10px;
  display: none;
}

/* Accordion end  */

/* Thumnail slider started  */

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* Thumnail slider End  */

/* set li properties  */






/* Review Tab Start */

.tabs li {
 
}



.tabs a.active {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #071C1F;
}


/* Review Tab End */


@media (min-width: 1146px) and (max-width: 1279px){
  .dots{
    left: calc(100% + 20px);
  }
}
@media (min-width: 1024px) and (max-width: 1145px){
  .dots{
    left: calc(100% + 6px);
    gap: 12px;
  }
}

.dots span.active{
  height: 10px;
  width: 10px;
  background: #91BF73;
  /* @apply bg-primary_3; */
}