@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Started */
.hero-bg {
  background-image: url("../assets/images/hero/hero-background.webp");
}
.banner-lg {
  background-image: url("../assets/images/banner/banner-lg.webp");
}
.banner-mobile {
  background-image: url("../assets/images/banner/banner-mobile.webp");
}
.subscribe-lg {
  background-image: url("../assets/images/subscribe/Subscribe.png");
}
.subscribe-mobile {
  background-image: url("../assets/images/subscribe/subscribe-mobile.webp");
}
.sub-header{
  background-image: url("../assets/images/share/sub-header-section.webp");
}
.sub-header-mobile {
  background-image: url("../assets/images/share/sub-header-section-mobile.webp");
}
/* Background End */

.categories:hover svg path {
  fill: white;
}

/* swiper-pagination-bullet started  */

.swiper-pagination-bullets .swiper-pagination-bullet{
 margin-bottom: -40px !important;
 width: 50px;
 width: 28px;
 height: 4px;
 border-radius: 2px;
 background: #47A358;
}

/* swiper-pagination-bullet end  */

/* Accordion started  */
.acc {
  margin-bottom: 10px;
}

.acc-head {
  padding: 15px 10px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.acc-head::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #071C1F;
  line-height: 18px;
  height: 24px;
}

.acc-head::after {
  content: "+";
}
.acc-head.active:after {
  content: "-";
  font-size: 46px;
  line-height: 10px;
  color:#47A358;
}

.acc-content {
  padding: 10px 10px;
  display: none;
}

/* Accordion end  */